In [ ]:
'''
1: What are data structures, and why are they important?

->  Data structures are specialised forms used to organise, store, and access data sets.
Data structures help to organise data so that it is easier to access, alter, and navigate.Well-organised data structures make code easier to read and understand.
Python has a number of built-in data structures, including lists, tuples, sets, and dictionaries, each having a specific purpose and allowing for efficient data manipulation.

'''

In [2]:
## 2:  Explain the difference between mutable and immutable data types with examples

# Mutable Data types: Mutable data types allow for changes to their content after they are formed. Examples include lists, dictionaries, and sets.
# list as mutable data type


lis1 = ["Barunasish", 1, 2, 3, "Ds course"]
lis1.append("DS Assignment")
print(lis1)

['Barunasish', 1, 2, 3, 'Ds course', 'DS Assignment']

In [3]:
#Answer continued
# Immutable data :Immutable data types do not allow changes to their content after creation. Examples include tuples

tup1 = ("Barunasish", 1, 2, 3, "Ds course")
tup1[0] = "Incorrect name"

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''
3.What are the main differences between lists and tuples in Python?

-> Lists are mutable, which means that the elements can be altered after they are created.
A list can have things added, removed, or modified. Tuples, on the other hand, are immutable, meaning that their elements cannot be modified after creation.
Tuples are faster and more memory economical than lists since they are immutable.This is because Python can optimise tuples while ensuring that their size and content do not change.
Lists are ideal for holding groupings of objects that may need to be changed, such as carts for purchases or tasks to be performed.
Tuples are best suited for describing fixed collections of objects such as database records, configuration settings, or locations.


4. Describe how dictionaries store data.

-> Python's dictionaries store data as key-value pairs. Each key in a dictionary is unique and immutable, whereas values can be any data type and replicated.
This structure enables efficient data retrieval by using the key to get the related value.

5. Why might you use a set instead of a list in Python?

-> Sets are designed for quick membership testing which helps in  verifying if an element is in a set takes substantially less time than checking if it is in a list.
This is because sets store data in hash tables, which allow for near-constant-time lookups.Sets can perform mathematical set operations such as union, intersection, and difference.
These procedures can be used to find common elements between sets, combine sets, or identify elements that are unique to a single set.


6. What is a string in Python, and how is it different from a list?

-> A string is a succession of characters. A list is a succession of values that may be characters, integers, or even another list.



7.  How do tuples ensure data integrity in Python?

-> Tuples in Python maintain data integrity primarily because they are immutable.Once a tuple has been constructed, its elements cannot be changed, added, or removed.
This attribute is critical for ensuring data consistency and reliability.

8. What is a hash table, and how does it relate to dictionaries in Python?

-> The fundamental data structure that underlies Python dictionaries is hash tables, which allow for efficient storage and retrieval of key-value pairs.
Dictionaries in Python are implemented via hash tables. When a key-value pair is added to a dictionary, the key is passed through a hash function, which produces a hash value that specifies the index in the underlying hash table where the value will be kept.
This is why dictionary keys must be immutable, with unchanging hash values.

9. Can lists contain different data types in Python?

-> Yes, Python lists can have components of many data types.This implies you may use a single list to store numbers, strings, floats, booleans, and even additional lists or dictionaries.


10. Explain why strings are immutable in Python.

-> Strings in Python are immutable,which means that once they are formed,they cannot have their value altered. In reality, each action that seems to change a string produces a new string object containing the altered value.


11. What advantages do dictionaries offer over lists for certain tasks?

-> Any form of data may be stored in a list. On the other hand, values in the dictionary can be any form of data, and keys can be any type of immutable data.For ordered tasks like sorting, lists operate more quickly.


12.  Describe a scenario where using a tuple would be preferable over a list.

-> Tuples cannot be changed. As a result, they are mostly utilised to store information that isn't updated often. When you don't want data to change, any action can save it in a tuple.
If you want the data in your collection to be read-only, unchangeable, and always the same, tuples are a fantastic tool to utilise.



13. How do sets handle duplicate values in Python?

-> Only unique elements are intended to be stored in Python sets. A duplicate value is simply ignored and just one instance of the value is kept when you try to add it to a set.
Since sets are unordered collections of distinct elements, this behaviour is essential to their nature.

'''

In [9]:
##14: How does the “in” keyword work differently for lists and dictionaries?

my_list = ["Barunasish", 1, 2, 3, "Pwskills"]
print("Barunasish" in my_list) # retriving the value present within the list
print("Ds course" in my_list)

True
False

In [10]:
my_dic = {"Ds course":1, "Analytics":2, "Barunasish":3}
print("Ds course" in my_dic) #retriving the key value to get the optput
print("Pwskills" in my_dic)

True
False

In [ ]:
'''

15: Can you modify the elements of a tuple? Explain why or why not?

Ans: No, after a tuple has been generated, it cannot have its elements changed directly. Since tuples are immutable data structures, once they are defined, their contents cannot be altered, added to, or deleted.
'''

In [13]:
## 16. What is a nested dictionary, and give an example of its use case?

# Ans: In Python, a nested dictionary is one with dictionaries as values. This enables you to design hierarchical or multi-level data structures, with each dictionary able to hold other dictionaries as values.

# Example
pw_skills = {
    "data": {
        "course1": {"name": "Data Science", "Fee": "30000"},
        "course2": {"name": "Data Analytics", "Fee": "20000"}
    },
    "finance": {
        "course3": {"name": "Tax", "Fee": "10000"},
        "course4": {"name": "Marketing", "Fee": "40000"}
    }
}

print(pw_skills["data"]["course2"]["name"])
print(pw_skills["finance"]["course4"]["Fee"])

Data Analytics
40000

In [ ]:
'''
17. Describe the time complexity of accessing elements in a dictionary

-> Accessing an entry in a dictionary normally has an average time complexity of O(1), which means it takes the same amount of time no matter how big the vocabulary is. This is due to the usage of a hash table, which enables direct lookup of items based on their keys. In the worst-case situation, if a hash function results in numerous collisions, the time complexity might fall below O(n), where n is the number of items in the dictionary.


18. In what situations are lists preferred over dictionaries.

-> Lists are the best option if you want an ordered collection, such as a series of user activities. However, dictionaries come in very handy when you need to quickly seek up information, such as linking usernames to user data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Because dictionaries do not preserve any intrinsic order of the entries according to when they were added, they are known as unordered collections of things.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

-> Lists are retrieved using an index, whereas dictionaries are retrieved using a key. This implies that in a dictionary, you use the associated key to locate the related value, whereas in a list, you use the element's integer position (beginning at 0) to access it.

'''

In [15]:
# Programing questions

In [17]:
##1: Write a code to create a string with your name and print it

name = input(" Enter the name of the Candidate: ")
print("The name of the candidate is: ",name)

 Enter the name of the Candidate: Barunasish ghosh
The name of the candidate is:  Barunasish ghosh

In [18]:
name1 = "Barunasish Ghosh"
print(name1)

Barunasish Ghosh

In [19]:
##2 : Write a code to find the length of the string "Hello World"

name2 = "Hello World"
print("The length of the String is: ", len(name2))

The length of the String is:  11

In [22]:
##3: Write a code to slice the first 3 characters from the string "Python Programming"

name3 = "Python Programming"
print("Sliced String = ", name3[:3] )

Sliced String =  Pyt

In [24]:
##4 : Write a code to convert the string "hello" to uppercase

name4 = "hello"
print("Upper Case word = ", name4.upper())

Upper Case word =  HELLO

In [28]:
##5 : Write a code to replace the word "apple" with "orange" in the string "I like apple"

name5 = "I like apple"
print(" The reolaced sentence : ", name5.replace("apple", "orange"))

 The reolaced sentence :  I like orange

In [33]:
##6: Write a code to create a list with numbers 1 to 5 and print it
lis = list(range(1, 6))
print("The required list is: ", lis)

The required list is:  [1, 2, 3, 4, 5]

In [36]:
##7: Write a code to append the number 10 to the list [1, 2, 3, 4].

lis2 = [1, 2, 3, 4]
lis2.append(10)
print(" The appended list is: ", lis2)

 The appended list is:  [1, 2, 3, 4, 10]

In [37]:
##8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lis3 = [1, 2, 3, 4, 5]
lis3.remove(3)
print("The new list after removal", lis3)

The new list after removal [1, 2, 4, 5]

In [38]:
##9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']

lis4 = ['a', 'b', 'c', 'd']
print(" The wanted item from the list is: ", lis4[1])

 The wanted item from the list is:  b

In [40]:
##10: Write a code to reverse the list [10, 20, 30, 40, 50]

lis5 = [10, 20, 30, 40, 50]
lis5.reverse()
print("The reversed list is : ", lis5)

The reversed list is :  [50, 40, 30, 20, 10]

In [47]:
##11: Write a code to create a tuple with the elements 100, 200, 300 and print it

tup = (100, 200, 300)
print("The type of the data created: ",type(tup) ,tup)

The type of the data created:  <class 'tuple'> (100, 200, 300)

In [48]:
##12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup2 = ('red', 'green', 'blue', 'yellow')
print("The Second last element of the tuple is: ", tup2[-2])

The Second last element of the tuple is:  blue

In [53]:
##13: Write a code to find the minimum number in the tuple (10, 20, 5, 15)

tup3 = (10, 20, 5, 15)
minimum_number = min(tup3)
print("The minimum number in the tuple: ", minimum_number)

The minimum number in the tuple:  5

In [54]:
##14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup4 = ('dog', 'cat', 'rabbit')
index_of_cat = tup4.index('cat')
print(" The index of the cat is: ", index_of_cat)

 The index of the cat is:  1

In [60]:
##15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tup5 = ('Orange', 'mango', 'apple')
print("The created tuple is: ",tup5 , type(tup5))
"kiwi" in tup5

The created tuple is:  ('Orange', 'mango', 'apple') <class 'tuple'>

False

In [61]:
##16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a', 'b', 'c'}
print("The created set is:", set1, type(set1))

The created set is: {'a', 'c', 'b'} <class 'set'>

In [65]:
##17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2 = {1, 2, 3, 4, 5}
print("The old set is :", set2)
print("The new set is after clearing: ", set2.clear())

The old set is : {1, 2, 3, 4, 5}
The new set is after clearing:  None

In [67]:
##18: Write a code to remove the element 4 from the set {1, 2, 3, 4}

set3 = {1, 2, 3, 4}
set3.remove(4)
print(" The set after removing 4: ", set3)

 The set after removing 4:  {1, 2, 3}

In [70]:
##19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

a = {1, 2, 3}
b = {3, 4, 5}
Union_set = a.union(b)
print("The Union Set is: ",Union_set)

The Union Set is:  {1, 2, 3, 4, 5}

In [71]:
##20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a1 = {1, 2, 3}
b1 = {2, 3, 4}
Interset_set = a1.intersection(b1)
print("The intersecyed set is: ", Interset_set)

The intersecyed set is:  {2, 3}

In [73]:
##21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dic1 = {"name": "Barunasish Ghosh", "age": 28, "city": "Kolkata"}
print("The formed dictionary is: ", dic1, type(dic1))

The formed dictionary is:  {'name': 'Barunasish Ghosh', 'age': 28, 'city': 'Kolkata'} <class 'dict'>

In [74]:
##22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dic2 = {'name': 'John', 'age': 25}
dic2["country"] = "USA"
print(" The new dictionary is: ", dic2)

 The new dictionary is:  {'name': 'John', 'age': 25, 'country': 'USA'}

In [75]:
##23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

dic3 = {'name': 'Alice', 'age': 30}
print("The searched value is: ", dic3["name"])

The searched value is:  Alice

In [77]:
##24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic4['age']
print("The new dictionary after removal: ", dic4)

The new dictionary after removal:  {'name': 'Bob', 'city': 'New York'}

In [79]:
##25:  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dic5 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dic5:
  print(f"City exists in the dictionary.")
else:
    print(f"City do not exsists in the dictionary")

City exists in the dictionary.

In [81]:
##26: Write a code to create a list, a tuple, and a dictionary, and print them all.

lis6 = ["Barunasish", "Ghosh", 28, "male", 700030]
tup6 = (1, 2, 3, 4, 5)
dic6 = {"Name":"Barunasish", "Title":"Ghosh", "Age":28, "Gender": "Male", "Pincode":700030}
print("The list created: ", lis6, type(lis6))
print("The tuple created: ", tup6, type(tup6))
print("The dictionary created: ", dic6, type(dic6))

The list created:  ['Barunasish', 'Ghosh', 28, 'male', 700030] <class 'list'>
The tuple created:  (1, 2, 3, 4, 5) <class 'tuple'>
The dictionary created:  {'Name': 'Barunasish', 'Title': 'Ghosh', 'Age': 28, 'Gender': 'Male', 'Pincode': 700030} <class 'dict'>

In [89]:
##27:  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
numbers = [random.randint(1, 100) for _  in range(5)]
numbers.sort()
print("The sorted numbers taken randomly: ", numbers)

The sorted numbers taken randomly:  [3, 57, 60, 60, 70]

In [91]:
##28. Write a code to create a list with strings and print the element at the third index.

lis7 = ['Ajay', 'Bijay', 'Sanjoy', 'Barun', 'Arun', 'Charan', 'Sanchita']
print("the third index element in the list is: ", lis7[3])

the third index element in the list is:  Barun

In [96]:
##29: Write a code to combine two dictionaries into one and print the result.
def combine_dictionaries(dict1, dict2):
  combined_dict = dict1.copy()
  combined_dict.update(dict2)
  return combined_dict
dictionary1 = {'a': 1, 'b': 2}
dictionary2 = {'b': 3, 'c': 4}

combined_dictionary = combine_dictionaries(dictionary1, dictionary2)
print(combined_dictionary)

{'a': 1, 'b': 3, 'c': 4}

In [99]:
##30. Write a code to convert a list of strings into a set.

string_list = ["Barunasish", "Ds course", "Pwslikks", "Data structure", "String"]
set6 = {}
for item in string_list:
    set6[item] = None
set6 = set(set6.keys())
print("The new set formed: ", set6, type(set6))

The new set formed:  {'Data structure', 'String', 'Pwslikks', 'Barunasish', 'Ds course'} <class 'set'>